@model Wamasys.Models.ProductsViewModel
@{
    ViewBag.Title = "Product catalogue";
}

<div class="row">
    <div class="col-md-12">
        <h3>@ViewBag.Title</h3>
    </div>
</div>

@Html.ValidationSummary(true, "", new { @class = "alert alert-info" })

<div class="row">
    <hr/>

    @foreach (var item in Model.Products)
    {
        <div class="col-md-4" style="white-space: nowrap; overflow: hidden; text-overflow:ellipsis;">
            <ul class="list-group">
                <li class="list-group-item"><h4>@item.Name</h4></li>
                <li class="list-group-item"><strong>Product code: </strong>@item.ProductId</li>
                <li class="list-group-item"><strong>Supplier code: </strong>@item.SupplierId</li>
                <li class="list-group-item">
                    @Html.ActionLink("Order", "Products", new { id = item.ProductId }, new { @class = "btn btn-default" })
                </li>
            </ul>
        </div>
    }
</div>